<?xml version="1.0"?>

<!--
  V3 Copyright (c) 2002-2011 SIG Networks Corporation
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Errand Web Framework (Trivial Example)</display-name>

    <servlet>
        <description>Handles all Errand requests</description>
        <display-name>Features Example Servlet</display-name>
        <servlet-name>featuresExampleServlet</servlet-name>
        <servlet-class>org.errandframework.examples.features.FeaturesExampleServlet</servlet-class>
        <async-supported>true</async-supported>
        <multipart-config/>
    </servlet>
    <servlet-mapping>
        <servlet-name>featuresExampleServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
